<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>

<body>
    
    <h1>Main Menu</h1>

    <h2>Week 1 queries</h2>

        <p><a href='/full-tables'>List full tables page</a></p>

    <h2>Week 2 queries</h2>
    
        <p><a href='/mentors'>Mentors and schools page</a></p>
        <p><a href='/all-school'>All the schools page</a></p>
        <p><a href='/mentors-by-country'>Mentors by country page</p></a>
        <p><a href='/contacts'>Contacts page</p></a>
        <p><a href='/applicants'>Applicants page</p></a>
        <p><a href='/applicants-and-mentors'>Applicants and Mentors page</p></a>

</body>

</html>