<!DOCTYPE html>

<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input</title>
</head>

<body>

    <h1>Input stuff</h1>

    <form action='{{path_to_go}}'>
        
        {% if radio %}
                <p>{{question[0]}}</p>
            {% for option in radio %}
                <p><input type='radio' name='radio' value='{{option}}'>{{option}}</p>
            {% endfor %}
        {% endif %}
        
        {% if text %}
            {% for inputs in text %}
                <p>{{question[loop.index - 1]}}</p>
                <p><input type='text' name='input{{loop.index - 1}}' value='{{inputs}}'></p>
            {% endfor %}
        {% endif %}

                <p><input type='submit' value='Submit'></p>    
    
    </form>
    
</body>

</html>