<!DOCTYPE html>

<html lang="en">

<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input</title>
</head>

<body>

    <h1>Input stuff</h1>

    <form action='{{path_to_go}}'>
        
        <p>{{question}}</p>
        {% for option in radio %}
            <p><input type='radio' name='radio' value='{{option}}'>{{option}}</p>
        {% endfor %}
            <p><input type='submit' value='Submit'></p>    
    
    </form>
    
</body>

</html>