<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>

    <table border='2'>
            <tr>
                {% for h in header %}
                    <th>{{h}}</th>
                {% endfor %}
            </tr>
        {% for row in table %}
            <tr>
                {% for datacell in row %}
                    <td>{{datacell}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form action='/'>
        <input type='submit' id='returnbutton' name='returnbutton' value='Rturn to main menu'>
    </form>
</body>

</html>